# ===============================================================================
#                      {{TASK.PROJECT.COMPANY}}
#
# ===============================================================================
# ===============================================================================
# File Name           : {{TASK.JOB}}.job
# Pattern             : TRANSACTIONAL
# Purpose             : {{TASK.PROJECT.PURPOSE}}
#                     :
# Author              : {{TASK.PROJECT.TEAM}}
# File Type           : JOB
# Creation Date       : {{TASK.PROJECT.DATE}}
# Version             : Initial Version
# -------------------------------------------------------------------------------
# Change History :
# Ver  | Date        |  Modified By           |  Change Description
# -------------------------------------------------------------------------------
# 1.0   {{TASK.PROJECT.DATE}}      {{TASK.PROJECT.TEAM}}           INITIAL CODE
#
# ===============================================================================
