/*
/*
# ===============================================================================
#                      {{TASK.PROJECT.COMPANY}}
#
# ===============================================================================
# ===============================================================================
# File Name           : {{TASK.TARGET.TABLE.lower()}}_ac.ddl
# Pattern             : FULL APPLY
# Purpose             : Comments on access views
# Author              : {{TASK.PROJECT.TEAM}}
# File Type           : SQL
# Creation Date       : {{TASK.PROJECT.DATE}}
# Pending                                 :
# Version             : Initial Version
# -------------------------------------------------------------------------------
# Change History :
# Ver  | Date        |  Modified By           |  Change Description
# -------------------------------------------------------------------------------
# 1.0  | {{TASK.PROJECT.DATE}}   |  {{TASK.PROJECT.TEAM}}         |  INITIAL CODE
#
# ===============================================================================
*/
COMMENT  DW${INSTANCE}C_{{TASK.TARGET.DATABASE}}.{{TASK.TARGET.TABLE}} AS '{{TASK.TARGET.COMMENT}}'
;

{%- for key, value in TASK.TARGET.COLUMNS.items() %}
COMMENT  DW${INSTANCE}C_{{TASK.TARGET.DATABASE}}.{{TASK.TARGET.TABLE}}.{{key}} AS '{{value.COMMENT}}'
;
{%- endfor %}

 